.AppContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: auto 3rem;
}

.MenuContainer {
  display: flex;
  width: 20%;
  background-color: palegreen;
}

.TimeLineContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: palegoldenrod;
}

.FriendsContainer {
  display: flex;
  width: 20%;
  background-color: palevioletred;
}
