.ResultContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

.ImageBox {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.ResultBox {
  width: 70%;
  height: auto;
  margin: 3rem auto 0 auto;
}
