.AppContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: auto 1rem;
}

.TimeLineContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: palegoldenrod;
  margin: 0 auto;
}

.SideContainer {
  display: flex;
  flex-direction: column;
  width: 30%;
  border-right: 2px solid rgb(158, 174, 194);
}
